<div class="modal-container">
  <div id="widget-icon">
    <a href="index.html" alt="Icon">
      <img src="http://icons.iconarchive.com/icons/hopstarter/sleek-xp-software/256/Yahoo-Messenger-icon.png">
    </a>
  </div>
  <div id="widget-close">
    <a href="#">&times;</a>
  </div>
  <div id="widget-body">
    <p id="widget-message"></p>
    <input type="email" id="widget-user-email" placeholder="Email">
    <a href="#" id="widget-ok">Subscribe</a>
  </div>
</div>