@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800);

#widget-box {
  position: fixed;
  left: 0; right: 0;
  height: 50px;
  background: #ddd;
  color: #333;
  font-family: "Open Sans", sans-serif;

  &.dark {
    background: #333;
    color: #fff;
  }
}

#widget-icon {
  float: left;
  width: 50px;
  padding-top: 7.5px;
  margin-left: 25px;

  img {
    width: 35px;
    height: 35px;
  }
}

#widget-close {
  float: right;
  width: 50px;

  a {
    color: #888;
    text-decoration: none;
    line-height: 50px;
    font-size: 35px;
    font-weight: bold;
    transition: all .3s;

    &:match(:visited, :focus, :active) {
      color: #888;
    }

    &:hover {
      transform: rotate(90deg);
      color: #fff;
    }
  }
}

#widget-body {
  margin: 0 auto;
  text-align: center;

  > * {
    display: inline-block;
  }

  a {
    width: 150px;
    padding: 5px 0;
    margin: 0 0 0 170px;
    border-radius: 5px;
    background: #FF7E00;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
  }

  input {
    position: absolute;
    border: 0;
    border-radius: 5px;
    margin: 7px 0 0 10px;
    height: 35px;
    font-size: 20px;
    width: 150px;
  }
}